<!DOCTYPE html>
<html>
    <head>
        <title>irpsf</title>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
        <script src="https://unpkg.com/alpinejs" defer></script>

        <style>
            .container {
                display: flex;
            }
            .left-panel {
                width: 30%;
                padding: 20px;
                border-right: 1px solid #ccc;
            }
            .right-panel {
                width: 70%;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="left-panel" hx-get="/lobby" hx-trigger="load"></div>

            <div class="right-panel">
                <script type="text/javascript">
                    var peer = new Peer();

                    peer.on("open", function (id) {
                        console.log(id);
                        let playerId = id;
                        document.getElementById("player-id").innerHTML =
                            playerId;
                    });
                </script>

                <h1>Your Player ID: <span id="player-id"></span></h1>

                <form action="">
                    <label for="opponent-id">Opponent ID:</label>
                    <input
                        type="text"
                        id="opponent-id"
                        name="opponent-id"
                    /><br />
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </body>
</html>
